/* The side navigation menu */
.customfont, .customfont a {
    font-family: "Helvetica Neue", Veranda, sans-serif;
	max-width:900px;
    color: #818181;
    text-decoration: none;
}
.header {
	width:100%;
}
.title{
    font-family: "Helvetica Neue", Veranda, sans-serif;
    color: #C0E089;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 10px;
	width:auto;
	text-align:center;
}
.title td {
	text-align:center;
}
div.account {
    color: #83bac3;
    font-family: "Helvetica Neue", Veranda, sans-serif;
    max-width: 200px;
    float: right;
    margin-top:-5px;
    display: inline-block;
    border: none;
}
.account img{
    width: 80px;
    top: 10px;
    right: 10px;
}

.account {
    padding: 5px;
    top:0;
}
.form {
    width: 80%;
}

.text {
    margin-top: 40px;
    width: 40%;
}
.navigation{
    max-width: 500px;
}
.navigation a {
    cursor: pointer;
}

.navigation a.selected{
    text-decoration: underline;
}

.imagecaption {
    text-align: center;
}
.popup_box {
    position: fixed;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    transform: translate(-50%);
    left: 0;
    top: 0;
    box-sizing: border-box;
    background-color: black;
    z-index: 3;
    background: rgba(0, 0, 0, 0.8);
}

.popup_box img {
    width: 70%;
    text-align: center;
    margin-top: 40px;
    margin-left: 50%;
    transform: translate(-50%);
    opacity: 1;
}

hr {
	margin-left:10%;
	margin-right:10%;
	margin-top:30px;
	height: 1px;
}


.form_container {
	display:none;
	text-align:center;
	padding:20px;
	margin-top:30px;
	background-color:green;
	border-radius:3px;
	
    background: #83BAC3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fff, #83BAC3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #83BAC3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #83BAC3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #83BAC3); /* Standard syntax */
}

.img_tags_recognition_label {
	display:inline-block;
}
.img_tags_recognition {
	display:inline-block;
}
.img_sentiment_label {
	display:inline-block;
}
.img_sentiment {
	display:inline-block;
}
.tag {
	background-color:orange;
	padding:3px;
	margin:3px;
	display:inline-block;
	border-radius:3px;
	
    background: #F6EB05; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fbc91e, #F6EB05); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fbc91e, #F6EB05); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fbc91e, #F6EB05); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fbc91e, #F6EB05) /* Standard syntax */
}

h3 {
    font-family: "Helvetica Neue", Veranda, sans-serif;
    color: #BCE0DC;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

table {
    border: none;
    width: 100%;
    table-layout: fixed;
}

th {
    font-weight: 200;
}



.pictures {
    margin: 30px 0 0 0;
	width: 100%;
    max-width:1000px;
    border-spacing: 10px;
}
.pictures td {
	width:33.33%;
	text-align:center;
}
.pictures .picture_table {
	width:100%;
    height: 320px;
	box-sizing:border-box;
}
.pictures .picture_table:hover{
    -moz-box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
}
.pictures .picture_table_for_category {
    width:100%;
    height: 320px;
    box-sizing:border-box;
    margin-top: -30px;
    margin-bottom: 30px;
}
.pictures .picture_table_for_category:hover{
    -moz-box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #F4F1E0;
    overflow-x: hidden; /* Disable horizontal scroll */
    transform: translateX(-110%);
    transition-duration: 1s;
    -ms-transform: translateX(-110%);
    -webkit-transform: translateX(-110%);
    transition-property: transform;
    -ms-transition-property: transform;
    -webkit-translation-property: transform;
    -ms-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    font-weight: 300;
	
    -moz-box-shadow: 0 0 10px;
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
}

.sidenav.openNavDrawer{
    transform: translate(0%);
    -ms-transform: translateX(0%);
    -webkit-transform: translateX(0%);
}
/* The navigation menu links */
.sidenav .item {
    padding: 8px;
    transition: 0.3s;

}
.sidenav .item:not(:last-child) {
	border-bottom:1px solid #d2ccac;
}
.sidenav .item a {
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #83bac3;
}


a.upload_button {
	color: white;
	padding:10px;
	border-radius:3px;
    background: #83BAC3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#aeb2fb, #83BAC3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#aeb2fb, #83BAC3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#aeb2fb, #83BAC3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#aeb2fb, #83BAC3) /* Standard syntax */
}

/* Position and style the close button (top right corner) */
.closebtn {
    font-size: 36px !important;
	margin-right:10px;
}
.openbtn, .closebtn {
	cursor:pointer;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}